<% if @users.any? %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= link_to user, [:admin, user] %></td>
            <td><%= user.email %></td>
            <td>
				<%= link_to 'Edit', edit_admin_user_path(user), :class => 'btn btn-mini' %>
	            <%= link_to 'Destroy', admin_user_path(user), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>
<div class="form-actions">
  <%= link_to "New User", new_admin_user_path, :class => 'btn btn-primary' %>
  <%= link_to "Back", admin_root_path, :class => 'btn' %>
</div>
